p{
    text-align: center;
    color: black;
}
body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    text-align: center;
    color: black;
}
.about{
    text-align: center;
    color: black;
}
.projects
{
    text-align: left;
    
}


.left{
    text-align: left;
}
.green{
    color: black;
}
.attention
{
    font-weight: bold;
}