p{
    text-align: center;
    color: black;
}
body{
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    text-align: center;
    color: black;
}
.about{
    text-align: center;
    color: black;
}
.projects
{
    text-align: center;
    background: #00b3d1;
}
.contacts
{
    text-align: center;
}
.skills
{
    text-align: center;
}
.left{
    text-align: left;
}
.green{
    color: black;
}
.attention
{
    font-weight: bold;
}