p{
    text-align: center;
    color: black;
}
body{
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    color: black;
}
.about{
    text-align: center;
    color: black;
}
.projects
{
background: #00b3d1;
}
.left{
    text-align: left;
}
.green{
    color: black;
}
.attention
{
    font-weight: bold;
}