p{
    text-align: center;
    color: red;
}
body{
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    color: green;
}
.about{
    text-align: center;
    color: blue;
}
.left{
    text-align: left;
}
.green{
    color: green;
}
.attention
{
    font-weight: bold;
}