p{
    text-align: center;
    color: red;
}
body{
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    color: green;
}
.about{
    text-align: center;
    color: blue;
}